@charset "utf-8";
/* font s */
@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Balgin';
  src: url(../font/StudioSun-BalginBlack.woff2) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Thunder';
  src: url(../font/Thunder-BlackLC.woff2) format('woff');
  font-weight: 500;
}
/* font e */
:root {
  /* color */
  --point-color: #006450;
  --sub-color: #F7CED7;
  --green: #006450;
  --yellow: #FCDC3E;
  --pink: #F7CED7;
  --darkpink: #CE0F69;
  --lightblue: #0b3a94;
  --blue: #88c9d8;
  --link-btn-bd: #FCDC3E;
  --link-btn-bg: transparent;
  --link-btn-txt: #FCDC3E;
  /* numbers */
  --footer-height: 600px;
  /* fonts */
  --pretendard: 'pretendard', sans-serif;
  --balgin: 'Balgin', sans-serif;
  --thunder: 'Thunder', sans-serif;
}
/* reset css s */
* {margin :0; padding: 0; font: inherit; color: inherit;}
*, :after, :before {box-sizing: border-box; flex-shrink: 0;}
:root {-webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; cursor: default; line-height: 1.5; overflow-wrap: break-word; word-break: break-word; tab-size: 4}
html, body {height: 100%;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
button {background: none; border: 0; cursor: pointer;}
a {text-decoration: none}
table {border-collapse: collapse; border-spacing: 0;}
ul, ol {list-style: none;}
address, em {font-style: normal;}
fieldset {border: 0;}
html {font-family: var(--pretendard);}
iframe {overflow: hidden; margin: 0; padding: 0; border: 0;}
/* reset css e */
/* common css s */
body.on {overflow: hidden;}
.dimm {position: fixed;  left: 0;  top: 0;  bottom: 0;  opacity: 0;  width: 100%;  height: 0;  background: rgba(17, 17, 17, 0.8); transition: all 0.3s; backdrop-filter: saturate(180%) blur(10px); -webkit-backdrop-filter: saturate(180%) blur(10px);}
.dimm.on {  opacity: 1;  height: auto;  z-index: 30;}
.blind {position: absolute; overflow: hidden; width: 1px; height: 1px; clip: rect(0,0,0,0); margin: -1px;}
.skip {width: 100%; height: 0; top: 0; left: 0;}
.skip a {display: block; overflow: hidden; position: absolute; top: 0; text-indent: -9999px;}
.skip a:focus, .skip a:active {display: block; position: absolute;  top: 0;  width: 100%; z-index: 9999;  padding: 10px 0; font-size: 15px; line-height: 14px; text-indent: 0; text-align: center; color: #fff; background: #444;}
.skip a:focus-visible {outline: 3px dashed #000; outline-offset: -3px;}

.balgin {font-family: var(--balgin);}
.thunder {font-family: var(--thunder);}

.link-btn {display: inline-flex; justify-content: center; align-items: center; padding: 4px 16px; border: 1px solid var(--link-btn-bd); color: var(--link-btn-txt); background-color: var(--link-btn-bg); border-radius: 5px; transition: 0.5s;}
.link-btn:hover, .link-btn:focus {--link-btn-bg: #FCDC3E; --link-btn-txt: #006450;}
.bold {font-weight: bold;}
::selection {background-color: var(--darkpink);}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px; }

::-webkit-scrollbar-thumb {
  background: var(--darkpink);
  border-radius: 10px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar:horizontal {
  height: 5px; }

::-webkit-scrollbar-thumb:horizontal {
  background: var(--darkpink);
  border-radius: 10px; }

::-webkit-scrollbar-track:horizontal {
  background-color: transparent; }


@media screen and (min-width: 1024px) {
  body {font-size: 16px;}
}
@media screen and (min-width: 1200px) {
  body {font-size: 18px;}
}
/* common css e */

/* fade up effect s */
.fade-wrap.fade-up  {overflow: hidden;}
.fade-wrap.fade-up .fade-box.fadeUp {opacity: 1; transform: translateY(0);}
.fade-wrap.fade-up .fade-box {opacity: 0; transform: translateY(100%); transition: all 1s;}
/* fade up effect e */

/* custom cursor s - pc에서만 노출됨 */
@media screen and (min-width: 1024px) {
  .cursor {position: fixed; top: 0; left: 0; width: 2.5rem; height: 2.5rem; margin: -1.5rem; background: var(--point-color); border-radius: 50%; pointer-events: none; display: none; mix-blend-mode: difference; transition: .3s;}
  .cursor.clicked {background-color: var(--darkpink);}
  .cursor.pointer {scale: 3;}
}

@media(any-pointer: fine) {
    .cursor {display:block; position: fixed; z-index: 1000;}
}

/* custom cursor e */