@charset "UTF-8";
/* css varients */
:root {
    --black: #000;
    --white: #fff;
    --blue: rgb(0, 113, 227);
    --lightwhite: rgba(255, 255, 255, 0.8);
    --darkgray: #0d0d0d;
    --bg-color: var(--black);
    --front-color: var(--white);
    --link-blue: rgb(0, 102, 204);
    /* --title-opacity: 0.92;
    --headline-color: #f5f5f7; */

}
/* 기본 설정 */
.wrapper {min-width: 280px; width: 100%; height: 100%; overflow-x: hidden;}
.blind {position: absolute; overflow: hidden; width: 1px; height: 1px; clip: rect(0,0,0,0); margin: -1px;}
.blue-btn {background-color: var(--blue); color: var(--white); border-radius: 40px; padding: 3px 10px;}
.link {display: inline-flex; gap: 4px;}
.link:hover span {text-decoration: underline;}
.link.blue {color: var(--link-blue);}
.link.blue::after {content: ""; display: inline-block; position: relative; line-height: 1.2; font-family: 'SF Pro Icons', sans-serif;}
.link.blue::after {text-decoration: none;}