@charset "UTF-8";
@import url("./reset.css");
@import url("./common.css");
@import url("./font.css");

/** header s **/
.header {position: relative; z-index: 10;}
.header .inner {display: flex; justify-content: space-between;}
.logo {width: 48px; height: 100%;}
.header a {min-width: 48px; display: flex; justify-content: center; align-items: center;}
.header svg {fill: var(--lightwhite); transition: fill .3s;}
.header a:hover svg, .header a:focus svg {fill: var(--white);}
.header-util {display: flex;}
.menu-btn {min-width: 48px; height: 100%; display: flex; justify-content: center; align-items: center;}
.menu-btn .line {position: relative; width: 18px; height: 18px;}
.menu-btn .line::before, .menu-btn .line::after {content: ''; position: absolute; left: 0; width: 18px; height: 1px; background: var(--lightwhite); transition: .3s;}
.menu-btn .line::before {top: 5px;}
.menu-btn .line::after {top: 13px;}
.menu-btn:hover .line::before, .menu-btn:hover .line::after,
.menu-btn.on .line::before, .menu-btn.on .line::after {background-color: var(--white);}
.menu-btn.on .line::before {rotate: -45deg; top: 6px;}
.menu-btn.on .line::after {rotate: 45deg; top: 6px;}
/* gnb s */
.gnb-wrap {display: none;}
/* gnb e */
/* nav s */
.nav {width: 100%; height: 48px;}
.nav-list-wrap {display: none;}
.nav .inner {display: flex; align-items: center; justify-content: space-between; height: 100%; padding: 0 16px;}
.nav-btn svg {width: 16px; height: 9px; fill: var(--white);}
.nav .link-btn {font-size: 0.75rem;}
/* nav e */
/** header e **/

