@charset "UTF-8";
@import url("./reset.css");
@import url("./common.css");
@import url("./font.css");

/** header s **/
.header {position: relative; z-index: 10; width: 100%;}
.header .inner {display: flex; justify-content: space-between; max-width: 1024px; margin: 0 auto;}
.logo {width: 48px; height: 100%;}
.header a {min-width: 48px; display: flex; justify-content: center; align-items: center;}
.header svg {fill: var(--lightwhite); transition: fill .3s;}
.header a:hover svg, .header a:focus svg {fill: var(--white);}
.header-util {display: flex;}
.menu-btn {min-width: 48px; height: 100%; display: flex; justify-content: center; align-items: center;}
.menu-btn .line {position: relative; width: 18px; height: 18px;}
.menu-btn .line::before, .menu-btn .line::after {content: ''; position: absolute; left: 0; width: 18px; height: 1px; background: var(--lightwhite); transition: .3s;}
.menu-btn .line::before {top: 5px;}
.menu-btn .line::after {top: 13px;}
.menu-btn:hover .line::before, .menu-btn:hover .line::after,
.menu-btn.on .line::before, .menu-btn.on .line::after {background-color: var(--white);}
.menu-btn.on .line::before {rotate: -45deg; top: 6px;}
.menu-btn.on .line::after {rotate: 45deg; top: 6px;}
@media screen and (min-width: 834px) {
    .menu-btn {display: none;}
}
/* gnb s */
.gnb-wrap {display: none;}
@media screen and (min-width: 834px) {
    .gnb-wrap {display: flex; align-items: center; width: 80%;}
    .gnb {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 100%; font-size: 12px; color: var(--lightwhite);}
    .gnb>li>a {display: block; width: 100%; height: 100%; text-align: center; transition: color .3s;}
    .gnb>li>a:hover, .gnb>li>a:focus {color: var(--white);}
}
/* gnb e */
/* nav s */
.nav {width: 100%; height: 48px;}
.nav-list-wrap {display: none;}
.nav .inner {display: flex; align-items: center; justify-content: space-between; height: 100%; padding: 0 16px; border-bottom: 1px solid rgba(255, 255, 255, 0.24);}
.nav-title {font-size: 19px; font-weight: bold; opacity: var(--title-opacity);}
.nav-btn-wrap {display: flex; align-items: center; gap: 10px;}
.nav-btn {display: flex; justify-content: center; align-items: center; width: 30px; height: 40px;}
.nav-btn svg {width: 16px; height: 9px; fill: var(--white);}
.nav .link-btn {height: 24px; font-size: 0.75rem;}
@media screen and (min-width: 834px) {
    .nav .inner {max-width: 1024px; margin: 0 auto;}
    .nav-content {display: flex; gap: 24px; height: 100%;}
    .nav-list-wrap {display: block;}
    .nav-list {display: flex; gap: 24px; height: 100%; align-items: center; font-size: 12px; color: var(--lightwhite);}
    .nav-list>li {height: 100%; position: relative;}
    .nav-list>li.on::after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: var(--white);}
    .nav-list>li>a {display: flex; align-items: center; height: 100%; text-align: center;}
    .nav-list>li>a:hover, .nav-list>li>a:focus, .nav-list>li.on>a {color: var(--white);}
    .nav-btn {display: none;}
}
/* nav e */
/** header e **/

/** footer s **/
.footer {
    --footer-bg:  rgb(245, 245, 247);
    --footer-border: rgba(0, 0, 0, 0.16);
    --footer-text: rgba(0, 0, 0, 0.56);
    --footer-link: rgba(0, 0, 0, 0.72);
    font-size: 12px;
    background-color: var(--footer-bg);
    color: var(--footer-text);
}
.footer .inner {max-width: 980px; padding: 0 22px; margin: 0 auto;}
.footer section {padding: 36px 0;}
.footer section + section, .breadcrumb {border-top: 1px solid var(--footer-border);}
@media screen and (min-width: 768px) {
    .footer section {padding: 56px 0;}
}

/* section buy s */
.buy-info {display: flex; flex-direction: column; align-items: center; flex-wrap: wrap;}
.info-inner {width: 100%; max-width: 410px; display: flex; flex-direction: column; align-items: center; gap: 12px;}
.buy-info .item {display: flex; flex-direction: column; align-items: center; gap: 12px; max-width: 216px; margin: 0 22px;}
.buy-info .icon {display: block; width: 100%; height: 56px; opacity: 0.56; background-size: 100% 56px;}
.info-text {color: var(--black); text-align: center;}
.info-text strong {font-size: 19px; font-weight: 700;}
.info-text p {font-size: 14px;}
.buy-info .link {font-size: 14px;}
/* icon */
.icon.delivery {background-image: url('../img/icon-delivery.svg');}
.icon.pay {background-image: url('../img/icon-pay.svg');}
.icon.help {background-image: url('../img/icon-help.svg');}
.icon.engrave {background-image: url('../img/icon-engrave.svg');}


@media screen and (min-width: 480px) {
    .buy-info {flex-direction: row; justify-content: space-evenly; align-items: flex-start;}
    .info-inner {flex-basis: 50%;}
}

@media screen and (min-width: 1024px) {
    .info-inner {flex-basis: 25%;}
}
/* section buy e */
/* section noti s */
.section.noti p {padding-bottom: 0.8em;}
.section.noti a {text-decoration: underline; color: var(--footer-link);}
.section.noti ol {margin: 0; padding: 0 17px; list-style-position: outside;}
.section.noti ul {padding-top: 0.8em;}
.section.noti ol li:not(:last-child), 
.section.noti ul li:not(:last-child) {padding-bottom: 0.8em;}
/* section noti e */
/* breadcrumb s */
.breadcrumb {padding: 17px 0;}
.icon-home {display: block; width: 14px; height: 18px; background-color: var(--black); opacity: 0.72; mask-image: url('../img/icon-footer-logo.svg'); -webkit-mask-image: url('../img/icon-footer-logo.svg');}
.breadcrumb ul, .breadcrumb ul>li {display: flex; gap: 11px; align-items: center;}
.breadcrumb ul>li>a {display: block; height: 100%; line-height: 1;}
.breadcrumb ul>li:not(.home)::before {content: ''; display: inline-block; width: 6px; height: 11px; background-color: rgba(0, 0, 0, 0.72); mask-image: url('../img/icon-arrow-right.svg'); -webkit-mask-image: url('../img/icon-arrow-right.svg');}
/* breadcrumb e */
/* fnb s */

/* fnb e */

/** footer e **/

