@charset "UTF-8";
@import url("./reset.css");
@import url("./common.css");
@import url("./font.css");

/** header s **/
.header {position: relative; z-index: 10;}
.header .inner {display: flex; justify-content: space-between;}
.logo {width: 48px; height: 100%;}
.header a {min-width: 48px; display: flex; justify-content: center; align-items: center;}
.header svg {fill: var(--lightwhite); transition: fill .3s;}
.header a:hover svg, .header a:focus svg {fill: var(--white);}
.header-util {display: flex;}
.header-util .btn-menu {position: relative;}


/* gnb s */
.gnb-wrap {display: none;}
/* gnb e */
/** header e **/
