@charset "UTF-8";
/* section intro */
.section.intro {height: 250vh;}
.section.intro .inner {display: flex; justify-content: center; align-items: center;}
.animation-box img {display: none; width: 100%; height: 100%; object-fit: cover;}
.animation-box img.on {display: block;}